*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.flex-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(217, 215, 215);
}

.flex-container::before{
    content: "";
    display: block;
    background-image: url("./peeping-ninja.png");
    background-size: cover;
    position: absolute;
    top:-20px;
    left:-20px;
    height: 100px;
    width: 100px;
    transform: rotate(160deg);

}

.loader-container{
    display: flex;
    transform: scale(2);
    transition: transform 0.3s;
}

.box{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    transform-origin: -50% 50%;
    transform: rotate(0deg)  scale(0.6);
    background-image: url("./suriken.png");
    background-size: cover;
}
.box-one{
    background-image: url("./ninja.png");

}
.box-one-animation-class{
    animation-name: box-one-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    

    
}
@keyframes box-one-animation {
    0%{
        transform: translateX(0px) scale(0.6);
        
    }
    50%{
        transform: translateX(250px)  scale(0.6);
    }
    100%{
        transform: translateX(0px)  scale(0.6);
        
        
    }
}

.box-two-animation-class{
    animation-name: box-two-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes box-two-animation {
    0%{
        transform: rotate(0deg)  scale(0.6);
    }
    10%{
        transform: rotate(-180deg)  scale(0.6);
    }
    90%{
        transform: rotate(-180deg)  scale(0.6);
    }
    100%{
        transform: rotate(0deg)  scale(0.6);
        
    }
}

.box-three-animation-class{
    animation-name: box-three-animation;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes box-three-animation {
    0%{
        transform: rotate(0deg)  scale(0.6);
    }
    12%{
        transform: rotate(-180deg)  scale(0.6);
    }
    88%{
        transform: rotate(-180deg)  scale(0.6);
    }
    100%{
        transform: rotate(0deg)  scale(0.6);
        
    }
}

.box-four-animation-class{
    animation-name: box-four-animation;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes box-four-animation {
    0%{
        transform: rotate(0deg)  scale(0.6);
    }
    16%{
        transform: rotate(-180deg)  scale(0.6);
    }
    84%{
        transform: rotate(-180deg)  scale(0.6);
    }
    100%{
        transform: rotate(0deg)  scale(0.6);
        
    }
}

.box-five-animation-class{
    animation-name: box-five-animation;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes box-five-animation {
    0%{
        transform: rotate(0deg)  scale(0.6);
    }
    25%{
        transform: rotate(-180deg)  scale(0.6);
    }
    75%{
        transform: rotate(-180deg)  scale(0.6);
    }
    100%{
        transform: rotate(0deg)  scale(0.6);
        
    }
}

.loading-text{
    position: absolute;
    top:20%;
    left:50%;
    font-size: 2rem;
    transform: translateX(-50%);
}

@media (max-width:700px) {
    .loader-container{
        transform: scale(1);
    }
}